/*
 * main.css
 * whoami (kemblesong.com)
 * Author: Kemble Song 2016
 */

html {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  font-size: 62.5%;
  font-weight: 400;
  font-family: 'Open Sans', 'Verdana', 'Helvetica' , 'Arial', sans-serif;
  color: #222;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 3.6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.4em;
}

p {
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.container {
  width: 60em;
  text-align: left;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  font-size: 6em;
  font-weight: 300;
}

.menu {
  display: block;
  padding: 0;
}

.menu li {
  font-size: 2em;
  padding-right: 1em;
  text-decoration: none;
  display: inline-block;
}

.bark {
  color: #2e2300;
}

.seaweed-green {
  color: #6e6702;
}

.bronze {
  color: #c05805;
}

.goldenrod {
  color: #db9501;
}

.crimson {
  color: #8d230f;
}

.forest {
  color: #1e434c;
}

.rust {
  color: #9b4f0f;
}

.gold {
  color: #c99e10;
}

.blue-gray {
  color: #8593ae;
}

.steel {
  color: #4a4e4d;
}

.aluminum {
  color: #8c9e9e;
}

.pewter {
  color: #7e675e;
}

.blush {
  color: #dda288;
}
